<!DOCTYPE html>
<html>
<meta name=”viewport” content=”width=device-width, initial-scale=1.5">

<body>

<link rel="stylesheet" href="static/style.css">
<form action="/data" method = "POST">
<div class="container">
  <div class="brand-title">JeevanVidya Mission</div>
  <div class="inputs">
    <label>Mobile Number</label>
    <input type="text" minlength="10" maxlength="10" name = "Name" placeholder="इकडे तुमचा Mobile नंबर  टाका " required/>
    <label>Prarthana</label>
    <input type="number" name = "Count" placeholder="तुम्ही  आज म्हणालेल्या प्रार्थना " required/>
    <button type="submit">SUBMIT</button>
  </div>
  
</div>
</form>




</body>
</html>
